<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sb:connection" value="Endpoint=sb://djfrsb.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=Gt/+gC4RkvezYG2tpfn0BoAk5XsXc3YNFsmMApSeR94="/>
  </appSettings>
</configuration>